/* .indexSection {
  background-image: url('../src/assets/img/greenbg.jpg');
  padding-bottom: 10px;
} */

.twoNav {
  background: #185e2a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 10px;
}

.active {
  color: #000;
}

/* Index */
.showDigit {
  background: #fff;
  color: #000;
  border-radius: 5px;
  text-align: start;
}

.digit {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.smallBox {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30%;
  background: #185e2a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}
.dashLine {
  border-bottom: 2px dotted #fff;
  width: 100%;
}
.showBet {
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 10px;
}
.indexBtn {
  position: fixed;
  bottom: 0;
  background: #185e2a;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
}
/* Index */

/* History */
.historyCard {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 10px;
}
/* History */

/* WinnerList */
.winnerCard {
  background: #fff;
  color: #000;
  border-radius: 10px;
}
.winnerImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
/* WinnerList */

/* Holiday */
.holidayCard {
  background: #fff;
  color: #000;
  border-left: 7px solid red;
  border-radius: 8px;
  text-align: start;
  padding: 10px 15px;
  line-height: 40px;
}
/* Holiday */
