.walletSection {
  padding-bottom: 150px;
}
.wallet {
  width: 45% !important;
  margin: 5px 3px 4px 3px;
  border: 1px solid #000;
}

.subIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 5px;
  border-radius: 20px;
  background: #185e2a;
  border: 1px solid #fff;
  color: #fff;
}

.timeSection {
  display: block;
  align-items: center;
  background: #185e2a;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
}

.moneyOut {
  background: #185e2a;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 10px;
}

.moneyOutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #185e2a;
  color: #fff;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.bankImg {
  width: 100px;
  height: 100px;
  margin: 20px 10px 0px 10px;
}

.amountBox {
  width: 25%;
  background: #fff;
  color: #000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.selected {
  background: #185e2a;
  color: #fff;
}

.moneyInBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #185e2a;
  color: #fff;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.transferSection {
  background: #fff;
  border-radius: 15px;
}

.transferBox {
  border-bottom: 2px dashed #000; /* Dashed underline */
  width: 100%;
}

.amountInput:hover {
  border: 2px solid #185e2a;
}

.transferBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #185e2a;
  color: #fff;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 10px;
}
