html,
body {
  margin: 0;
  /* height: 100vh; */
}

.App {
  background: url('../src/assets/img/greenbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
